<!DOCTYPE html>
<html lang="<%= config.language %>">

<head>
  <%- partial('_partial/head',{cache: true}) %>
</head>
<body class="font-sans bg-white dark:bg-zinc-900 text-gray-700 dark:text-gray-200">
  <%- partial('_partial/header', null, {cache: true}) %>
  <main class="p-12">
    <%- body %>
  </main>
  <%- partial('_partial/footer', null, {cache: true}) %>
  <%- partial('_partial/after-footer') %>
</body>

</html>
